@import "src/assets/scss/settings/global.scss";
@import "src/assets/scss/settings/objects/objects.wrapper.scss";
@import "src/assets/scss/settings/objects/objects.app.scss";
@import "src/assets/scss/settings/helpers/mixins.scss";
@import "src/assets/scss/settings/helpers/text.scss";
@import "src/assets/scss/settings/helpers/animations.scss";

.c-tabs {
  opacity: 0;
  filter: blur(5px);
  animation: 0.4s ease-in-out 0.5s 1 blurIntoFocus forwards;
  &__bar {
    display: flex;
    margin-bottom: 24px;

    &__item {
      cursor: pointer;

      &:not(:last-of-type) {
        margin-right: 24px;
      }

      &--active {
        color: $color--primary;
        font-weight: $weight--bold;
      }
    }
  }

  &__content {
    &__inner {
      &__empty {
        padding: 40px;
        width: 100%;
        background-color: $color--white;
        border-radius: 6px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        &__title {
          font-size: 32px;
          margin-top: 0;
          margin-bottom: 12px;
          font-weight: $weight--semibold;
        }

        &__text {
          font-size: 18px;
        }

        &__links {
          display: flex;

          @media (max-width: $breakpoint-tablet) {
            flex-direction: column;
            align-items: flex-start;
          }

          &__button {
            text-decoration: none;
            background-color: transparent;
            border: 1px solid $color--primary;
            color: $color--primary;
            display: flex;
            padding: 12px 42px;
            border-radius: 6px;

            &:first-of-type {
              margin-right: 20px;
              background-color: $color--primary;
              color: $color--white;

              @media (max-width: $breakpoint-tablet) {
                margin-bottom: 20px;
              }
            }
          }
        }
      }

      &__slide {
        border-radius: 6px;
      }
    }
  }

  &__highlight {
    display: grid;
    margin-top: 50px;

    @media (min-width: $breakpoint-desktop) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 40px;
    }

    &__image {
      @include aspect-ratio(630, 420);
      width: 100%;
      border-radius: 12px;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    &__content {
      &__title {
        margin-top: 0;
        margin-bottom: 14px;
        font-size: 32px;
        font-weight: $weight--medium;
      }

      &__tagline {
        font-size: 14px;
        font-family: $font--title;
        font-weight: $weight--medium;
      }

      &__text {
        font-size: 16px;
        &:first-of-type {
          margin-top: 12px;
        }
      }

      &__buttons {
        display: flex;

        @media (max-width: $breakpoint-tablet) {
          flex-direction: column;
          align-items: flex-start;
        }

        &__item {
          display: flex;
          padding: 12px 42px;
          border-radius: 6px;
          text-decoration: none;

          &--disabled {
            display: none;
          }

          &:first-of-type {
            margin-right: 20px;
            background-color: $color--primary;
            color: $color--white;

            @media (max-width: $breakpoint-tablet) {
              margin: 20px 0 20px 0;
            }
          }

          &:last-of-type {
            border: 1px solid $color--primary;
            color: $color--primary;
          }
        }
      }
    }
  }
}
