@import 'src/assets/scss/settings/global.scss';
@import 'src/assets/scss/settings/objects/objects.wrapper.scss';
@import 'src/assets/scss/settings/objects/objects.app.scss';
@import 'src/assets/scss/settings/helpers/mixins.scss';
@import 'src/assets/scss/settings/helpers/text.scss';
@import 'src/assets/scss/settings/helpers/animations.scss';

.c-about{
    padding-top: 100px;
    padding-bottom: 100px;
    
    @media(max-width: $breakpoint-wide){
        padding-top: 80px;
        padding-bottom: 60px;
    }

    &::before{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $color--primary;
        display: block;
        z-index: -1;
    }

    &__content{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        align-items: start;
        &__title{
            margin-top: 0;
            margin-bottom: 30px;
            font-weight: $weight--semibold;
            background-color: $color--secondary;
            padding: 30px 75px 30px 0;
            border-radius: 0 16px 16px 0;
            width: min-content;
            white-space: nowrap;
            position: relative;
            font-size: 42px;

            &::before{
                content: '';
                height: 100%;
                width: 100vw;
                left: -90vw;
                top: 0;
                z-index: -1;
                display: flex;
                background-color: $color--secondary;
                position: absolute;
            }

            span{
                color: $color--primary;
            }
        }

        &__text{
            &__inner{
                font-weight: $weight--semibold;
                &:not(:last-of-type){
                    margin-top: 0;
                }
            }
        }
    }

    &__highlights{
        &__title{
            font-size: 32px;
            font-weight: $weight--semibold;
            margin-top: 50px;
            margin-bottom: 46px;
        }
    }
}