@import 'src/assets/scss/settings/global.scss';

.c-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background-color: $color--primary;

    &__content{

        display: flex;
        align-items: center;

        &__subnav{
            display: flex;
            list-style: none;
            margin-right: 20px;

            &__item{
                &:not(:last-of-type){
                    margin-right: 14px;
                }

                a{

                  display: flex;
                  justify-content: center;
                  align-items: center;

                  svg{
                    color: $color--secondary;
                    height: 24px;
                    width: 24px;
                  }
                }

            }
        }

        &__item{
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 6px;
            color: $color--secondary;

            &:not(:last-of-type){
                margin-right: 6px;
            }

            svg{
                margin-right: 8px;
            }

            &.active{
                background-color: $color--secondary;
                color: $color--primary;
                font-weight: $weight--semibold;
            }
        }

    }
}